/Cosc311/Questions1/Questions1/nbproject/private/
/Cosc311/Questions1/Questions1/build/
/Cosc311/Questions1/DoublyLinkedList/nbproject/private/
/Cosc311/Project1/Project 1/nbproject/private/
/Cosc311/Questions2/DoublyLinkedList/nbproject/private/
/Cosc311/Questions2/DoublyLinkedList/build/
/Cosc231/Assignment 1/Assignment 1 Part 1/nbproject/private/
/Cosc311/Assignment1/Assignment1Part1/nbproject/private/
/Cosc311/Assignment1/Part3/nbproject/private/
/Cosc311/Assignment1/Part3/build/
/Cosc311/Assignment1/Part2/StuInfo/nbproject/private/
/Cosc311/Assignment1/Part2/StuInfo/build/
/Cosc311/Assignment1/Part1/build/
/Cosc311/Questions3/Questions3/nbproject/private/
/Cosc311/Questions3/Questions3/build/
/Cosc311/Assignment2/Part3/BalanceTester/nbproject/private/
/Cosc311/Assignment2/Part3/BalanceTester/build/
/Cosc311/Assignment2/Part3/PrefixReformat/nbproject/private/
/Cosc311/Assignment2/Part1/PrefixReformat/nbproject/private/
/Cosc311/Assignment2/Part3/BalanceTester/dist/
/Cosc311/Assignment2/Part1/PrefixOperator/nbproject/private/
/Cosc311/Assignment2/Part1/PrefixOperator/build/
/Cosc311/Assignment2/Part1/MazeTester/nbproject/private/
/Cosc311/Assignment2/Part2/MazeTester/nbproject/private/
/Cosc311/Assignment2/Part2/MazeTester/build/
/Cosc311/Assignment4/RecursiveList/nbproject/private/
/Cosc311/Assignment4/RecursiveArray/nbproject/private/
/Cosc311/Assignment4/RecursiveMaze/nbproject/private/
/Cosc311/Assignment4/RecursiveKnight/nbproject/private/
/Cosc311/Assignment4/RecursiveTowers/nbproject/private/
/Cosc311/Assignment4/RecursiveList/build/
/Cosc311/Assignment4/RecursiveTowers/build/
/Cosc311/Assignment4/RecursiveArray/build/
/Cosc311/Assignment4/RecursiveMaze/build/
/Cosc311/Assignment4/RecursiveMaze/dist/