div 
{
    background-color:#2E4272;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}

td,th
{
	border: 1px black solid;
}
body
{
	background-color:#2D882D;
}
h4
{
	color :#2E4172;
}